@mixin primaryGradient {
  background-image: linear-gradient(to bottom right, $primary, $primaryAccent);
}

@mixin secondaryGradient {
  background-image: linear-gradient(to bottom right, $secondaryAccent, $secondary);
}

@mixin lightGradient {
  background-image: linear-gradient(to bottom right, $olive, $oliveAccent);
}

@mixin reverseLightGradient {
  background-image: linear-gradient(to right top, $oliveAccent, $olive);
}

@mixin buttonGradient {
  background-image: radial-gradient($white, $white);
}
