@import './variables';

@mixin gridify($columnNumber, $width: 110rem, $gridGap: 1.5rem) {
  display: grid;
  grid-template-columns: repeat(
    $columnNumber,
    calc((100% - ((#{$columnNumber} - 1) * #{$gridGap})) / #{$columnNumber})
  );
  grid-gap: $gridGap;
  margin: 0 auto;
  max-width: $width;
}

@mixin clearfix {
    &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin positionImage {
  background-size: cover;
  background-blend-mode: screen;
  background-position: center center;
}

@mixin buttonStyles {
  @include secondaryGradient;
  @include heading-styles('h4', 400);
  color: $textLight;
  border-radius: 1rem;
}
