$primary: rgba(28,49,68,1);
$primaryAccent: rgb(64, 86, 96);
$secondary: rgb(93, 123, 85);
$secondaryAccent: rgb(77, 106, 61);
$textDark: rgba(80,73,69,1);
$textLight: rgb(251, 251, 217);
$olive: rgb(200, 198, 154);
$oliveAccent: rgb(172, 191, 144);
$white: rgb(255, 255, 255);
$silver: rgba(240, 240, 240, 0.929);
$gray: rgba(146,131,116,1);
$brown: rgb(79, 74, 69);
$brownAccent: rgb(126, 110, 94);

$borderSize: 0.3rem;
$borderRadius: 0.7rem;
$gridGap: 1.5rem;
$maxWidth: 110rem;
