$primary: rgba(28,49,68,1);
$primaryAccent: rgb(64, 86, 96);
$secondary: rgb(93, 123, 85);
$secondaryAccent: rgb(77, 106, 61);
$textDark: rgba(80,73,69,1);
$textLight: rgba(251,241,199,1);
$offWhite: rgba(251,241,199,1);
$offWhiteAccent: rgba(235,219,178,1);
$gray: rgba(146,131,116,1);

$borderSize: 0.3rem;
$borderRadius: 0.5rem;
$gridGap: 1.5rem;
$maxWidth: 110rem;
