@import '../../styles/mixins/index';

.plantCard {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 28.5rem;

  div {
    height: 28.5rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    --webkit-backface-visibility: hidden;
    overflow: hidden;

    &.front {
      @include secondaryGradient;
      text-align: center;
    }

    &.back {
      @include primaryGradient;
      text-align: left;
      transform: rotateY(180deg);
      display: flex;
      flex-flow: column nowrap;

      h5 {
        @include heading-styles('h5');
        margin: 0.7rem 1rem;
        color: $textLight;

        &:first-child {
          margin-top: 1.2rem;
        }
      }

      h6 {
        @include heading-styles('h6', 400);
        margin: 0.3rem 1.7rem;
        color: $textLight;

        &.italic {
          @include heading-styles('h6', 400, italic);
          color: $textLight;
        }
      }
    }
  }

  &:hover {
    div {
      &.front {
        transform: rotateY(-180deg);
      }

      &.back {
        transform: rotateY(0);
      }
    }
  }

  .plantImage {
    @include positionImage;
    height: 24rem;
    border-radius: 0.3rem;
  }

  .plantName {
    @include margin_bottom_1;
    @include heading-styles('h5');
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
