@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
@import "../../styles/base/typography";
@import "../../styles/base/utilities";

.plantCard {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 28.5rem;

  div {
    height: 28.5rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    --webkit-backface-visibility: hidden;
    overflow: hidden;

    &.front {
      background: $secondary;
      text-align: center;
    }

    &.back {
      background: $offWhite;
      text-align: left;
      transform: rotateY(180deg);

      h5 {
        @include heading-styles('h5');
        color: $textDark;
      }

      h6 {
        @include heading-styles('h6', 400);
        color: $textDark;

        &.italic {
          @include heading-styles('h6', 400, italic);
          color: $textDark;
        }
      }
    }
  }

  &:hover {
    div {
      &.front {
        transform: rotateY(-180deg);
      }

      &.back {
        transform: rotateY(0);
      }
    }
  }

  .plantImage {
    background-size: cover;
    height: 24rem;
    background-blend-mode: screen;
    background-position: center center;
    border-radius: 0.3rem;
  }

  .plantName {
    @include mB1;
    @include heading-styles('h5');
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

