* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $primary;
  box-sizing: border-box;
  overflow-y: hidden;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: scroll;
}

@media (max-width: $breakpoint_1) {
  html {
    font-size: 50%;
  }
}
