* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-y: hidden;
  height: 100vh;
  background: $primary;
  font-family: 'Ubuntu', sans-serif;
  overflow-y: scroll;
}
