@import "../abstracts/variables";

$font-size-key: (
  'h1': 4.1rem,
  'h2': 3.6rem,
  'h3': 2.7rem,
  'h4': 2.4rem,
  'h5': 2.1rem,
  'h6': 1.8rem,
);

@mixin link-styles {
  a {
    text-decoration: none;
    color: $textLight;

    &:visited {
      color: $textLight;
    }
  }
}

@mixin heading-styles($type, $weight: 700, $style: normal) {
  color: $textLight;
  font-size: map-get($font-size-key, $type);
  font-style: $style;
  font-weight: $weight;
}
