@import '../../styles/mixins/index';

.quizCard {
  @include reverseLightGradient;
  max-width: 95rem;
  height: 82vh;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.image {
  @include positionImage;
  @include margin_bottom_1;
  height: 80%;
  min-width: 90%;
}

.choices {
  @include gridify(2, 85rem, 0.8rem);

  button {
    @include buttonGradient;
    @include heading-styles('h4', 400);
    color: $textDark;
    height: 3.3rem;
  }
}
