@import '../../styles/mixins/index';

.quizCard {
  @include reverseLightGradient;
  @include flexColumn;
  height: 85vh;
  margin: 0 auto;
  padding: 1rem;
}

.image {
  @include positionImage;
  @include margin_bottom_1;
  height: 70%;
  min-width: 90%;
}

.text {
  @include flexColumn;
  height: 70%;
  min-width: 90%;

  span {
    font-size: 5.5rem;
    font-weight: 700;
    color: $textDark;
    font-style: italic;
  }
}

.choices {
  @include gridify(2, 85rem, 1.2rem);
  min-width: 90%;
  margin-top: 1rem;

  button {
    @include buttonStyles;
    height: 5.8rem;
  }
}
